h1.title {
  font-weight: 600;
  font-size: 44px;
  line-height: 52px;
  letter-spacing: -1px;
}

h1, h2, h3, body {
  font-family: Rubik, ui-sans-serif, sans-serif;
}

h4 {
  background-color: #000033;
  color: white;
}

body {
  color: #002B48;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: normal;
}

.button {
  background-color: #495ED4;
  color: white;
}

a {
  color: #495ED4;
}
